:root {
  --primary-light: #8abdff;
//   --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
//   --greyDark: #9baacf;
}

// $secondary: #2E5266;
$primary: #2C5784;
$secondary: #9baacf;
$tertiary: #949494;
$background: #eff0f3;

$inner-shadow: 0rem 0rem .6rem .5px var(--greyLight-2), 
-.2rem -.2rem .5rem var(--white);
$shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
inset -.2rem -.2rem .5rem var(--white);

@mixin flex($flexdata) {
  display: flex;
  flex-direction: $flexdata;
}

@mixin widthAndHeight($width, $height) {
  width: $width;
  height: $height;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  
  // Loader

  .loader {
    border: 8px solid $secondary; 
    border-top: 8px solid $primary; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

}

header {
  margin-top: 60px;
  @include flex(column);
  color: black;
  gap: 20px;

  h1 {
    color: $primary;
  }
  
  span {
    color: $secondary;
  }

  div {
      @include flex(column);
      gap: 20px;
  }
}


.div-input {
  position: relative;
  @include flex(column);
  align-items: center;
  gap: 40px;
  
  div {
    display: flex;
    gap: 6px;
    position: relative;
    
    label {
      // align-self: flex-start;
      position: absolute;
      top: 9px;
      left: 28px;
      color: #949494;
      background-color: $background;
      padding: 0 4px;
      font-size: 16px;
      z-index: 99999;
      @include widthAndHeight(fit-content, fit-content);
      // padding: 5px 5px;
      transition: all .1s ease-out;
      cursor: text;
      
    }
    
    input {
      position: relative;
      @include widthAndHeight(100%, 2.4em);
      // width: 20.4rem;
      // height: 3rem;
      border: none;
      border-radius: 8px;
      font-size: 18px;
      padding-left: 2rem;
      padding-right: 4rem;
      // box-shadow: $inner-shadow;
      border: 2px solid $secondary;
      background: none;
      font-family: inherit;
      color: black;
      outline: none;
      

      // &:valid {
      //   background-color: red;
      // }

      &:not(.not-required),
      &:focus {
        border: 2px solid $primary;
        & ~ label {
        color: $primary;
        font-size: 14px;
        top: -12px;   
        }
      }
    }
  }
  
  
  // &__input {
  //   position: relative;
  //   @include widthAndHeight(20.4rem, 2.4em);
  //   // width: 20.4rem;
  //   // height: 3rem;
  //   border: none;
  //   border-radius: 8px;
  //   font-size: 20px;
  //   padding-left: 2rem;
  //   padding-right: 4rem;
  //   box-shadow: $inner-shadow;
  //   background: none;
  //   font-family: inherit;
  //   color: $secondary;
  //   outline: none;

  //   // &:focus { 
  //   //   outline: none; 
  //   //   box-shadow: $shadow; 
  //   // }
  // }

  #add-task {
    @include flex(row);
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5px;
    font-size: 18px;
    width: 100%;
    background-color: $secondary;
    color: $background;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all .3s ease-out;
    outline: none;

    &:hover, &:active {
      border: 2px solid $primary;
      background-color: $background !important;
      color: $primary;
    }
    

    // svg {
    //   @include widthAndHeight(1.2rem, 0);
    //   // width: 1.7rem;
    //   height: auto;
    //   // position: absolute;
    //   // top: 11px;
    //   // right: 15px;
    //   transition: .3s ease;
    //   cursor: pointer;

    //   path {
    //     stroke: $background;
    //   }

    //   &:hover path {
    //     stroke: $background;
    //   }
    // }
  }
}

.title-completed {
  color: $secondary !important;
  text-decoration: line-through;
}

.completed {
  background-color: $primary;
}

main {
  @include flex(column);
  gap: 20px;
  margin: 40px 0;

  #container-task-amount {
    padding: 10px 0;
    @include widthAndHeight(100%, fit-content);
    // background: $primary;
    // box-shadow: 0px 1px 6px #C8D0E7;
    // border-radius: 20px 20px 0px 0px;
    // margin: auto;
    // text-align: start;
    
    h2 {
      font-weight: normal;
      font-size: 20px;
      color: $primary;
      font-weight: 600;
      
      strong {
        font-weight: 600;
      }
    }
  }

  #container-no-task {
    @include flex(column);
    padding: 10px 20px;
    @include widthAndHeight(100%, fit-content);
    text-align: center;
    gap: 10px;
    
    img {
      margin: auto;
      @include widthAndHeight(80%, auto);
      opacity: .5;
    }

    h2 {
      font-weight: 600;
      font-size: 20px;
      color: $primary;
    }
    
    p {
      font-size: 14px;
      color: $tertiary;
    }

  }
  
  
  .card-task {
    
    // &:not(:nth-child(2)) {
    text-align: left;
    padding: 10px 20px;
    @include widthAndHeight(100%, fit-content);
    background: #EFF0F3;
    box-shadow: 0px 1px 6px #C8D0E7;
    border-radius: 20px;
    position: relative;
    overflow-wrap: break-word;
    // }

    // &:nth-child(2) {
    //   text-align: left;
    //   padding: 10px 20px;
    //   @include widthAndHeight(100%, fit-content);
    //   background: #EFF0F3;
    //   box-shadow: 0px 1px 6px #C8D0E7;
    //   border-radius: 0 0 20px 20px;
    //   position: relative;
    //   overflow-wrap: break-word;
    // }

    div {
      // display: flex;
      // flex-direction: row;
      // align-items: baseline;
      // float: left;

    .task-complete {
      position: relative;
      top: 2.2px;
      // display: inline-block;
      margin-right: 8px;
      float: left;
      @include widthAndHeight(18px, 18px);
      border-radius: 3px;
      border: 2px solid $primary;
      cursor: pointer;
      transition: all .3s ease-out;

      &:hover {
        background-color: rgba($primary, .8);
      }

      &:active {
        background-color: $primary;
      }

      &:after {
        content: "";
        @include widthAndHeight(20px, 20px);
        background-image: url("../src/assets/check-icon.svg");
        background-position: center;
        background-size: contain;
        position: absolute;
        top: 0;
        left: -3px;
        bottom: 0;
        right: 0;
        margin: auto;
      }
    }

    h3 {
      font-size: 20px;
      color: $primary;
      // display: inline-block;
      margin: 6px 0;
      text-transform: capitalize;
      width: 260px;
      // overflow-wrap: break-word;
      display: flex;

      .inputEdit {
        @include widthAndHeight(80%, fit-content);
        font-size: 18px;
        // padding-left: 2rem;
        // padding-right: 4rem;
        border: none;
        border-bottom: 2px solid $secondary;
        background: none;
        color: black;
        outline: none;
      }

      button {
        @include widthAndHeight(fit-content, fit-content);
        outline: none;
        border: none;
        padding: 0;
        font-size: 18px;
        background: transparent;
        margin-left: 10px;
        color: #2C5784;
        
        img {
          @include widthAndHeight(25px, 25px);
        }
      }
    }

  }
    
    p {
      font-size: 16px;
      color: $tertiary;
      font-weight: 500;
      width: 280px;
      // overflow-wrap: break-word;
      
      textarea.inputEdit {
        @include widthAndHeight(100%, fit-content);
        font-size: 18px;
        // padding-left: 2rem;
        // padding-right: 4rem;
        border: none;
        border-bottom: 2px solid $secondary;
        background: none;
        color: black;
        outline: none;
        resize: vertical;
        min-height: 25px;
        max-height: 400px;
        overflow: hidden;
      }
    }

    .options-task { 
      @include flex(column);
      align-items: flex-end;
      position: absolute;
      top: 20px;
      right: 12px;
      // padding: 15px 20px;

      img {
        @include widthAndHeight(20px, 20px);
        cursor: pointer;
        
        // path {
        //   transition: all .3s ease-out;
        //   fill: $secondary;
        // }

        // &:hover {

        //   path {
        //     fill: $primary;
        //   }
        // }

        // &:active {

        //   path {
        //     fill: $primary;
        //   }
        // }

      }
      
      .div-option-btn {
        // @include flex(column);
        display: flex;
        flex-direction: column;
        background: #EFF0F3;
        box-shadow: 0px 1px 10px #C8D0E7;
        border-radius: 10px;
        position: relative;
        top: 10px;
        right: 10px;
        transition: all .3s ease-out;
        z-index: 9999999;

        
        &::after {
          content: "";
          @include widthAndHeight(80%, 1px);
          position: absolute;
          background-color: $tertiary;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
        }

        
        button {
          @include flex(row);
          background: transparent;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          font-size: 16px;
          color: $secondary;
          border: none;
          outline: none;
          transition: all .3s ease-out;

          &:hover {
            color: $primary;


            svg {

              path {
                fill: $primary;
              }
            }
          }
          
          &:active {
            background-color: $tertiary;
            color: $primary;

            svg {

              path {
                fill: $primary;
              }
            }
          }
          

          svg {
            @include widthAndHeight(25px, 25px);
            
            path {
              transition: all .3s ease-out;
              fill: $secondary;
            }
          }
        }
      }
    }
  }
}